body
{
 background:#f3f3f3;
 color:#333;
 font-family:sans-serif;
 margin: 0;
}

.header{
    width:90%;
    margin:40px auto;
    height:120px;
    line-height:120px;
    background:#9AB7D3;
    color:#FFF;
    display:flex;
    align-items:center;
}

.jarak{
     padding-left: 20px;
}

.menu{
    background-color:#417aa8;
    height:50px;
    line-height:50px;
    position:relative;
    width:90%;
    margin:0 auto;
    padding:0 auto;
}

.menu ul {
    list-style:none;
}

.menu ul li a {
    float:left;
    width:70px;
    display:block;
    text-align:center;
    color:#fff;
    text-decoration:none;
}

.menu ul li a:hover {
    backround-color:#4b88bb;
    display:block;
}





