body
{
 background:#F0ECE3;
 color:#F0ECE3;
 font-family:sans-serif;
 margin:0 auto;
}

.header{
    width:90%;
    margin:auto;
    height:120px;
    line-height:120px;
    background:#9AB7D3;
    color:#9AB7D3;
}

.jarak{
     padding:0 2pc;
}

.menu{
    background-color:#417aa8;
    height:50px;
    line-height:50px;
    position:relative;
    width:90%;
    margin:0 auto;
    padding:0 auto;
}

